Source: keyring-link
Section: unknown
Priority: optional
Maintainer: Martin Pool <mbp@wistful.humbug.org.au>
Standards-Version: 3.0.1

Package: keyring-link
Architecture: any
Depends: ${shlibs:Depends}
Description: Desktop conduit for Keyring for PalmOS
 Keyring for PalmOS stores private information encrypted on a PalmOS handheld.
 This package allows you to view the database on your desktop computer.  
 Eventually editing will also be supported.
