{\page \pagetitle=mirrors \pageid=mirrors
  \rcsid=\"$Id$\"
{
  {\subhead mirrors}

  {\table
   {\foreach \mirror \mirrorlist 
    {\let {{\url {\cadr \mirror}} {\countrycode {\car \mirror}}}

      {\tr {\td {\img \src={flags/\countrycode.gif} \alt=\countrycode}}
        {\td {\externallink \href=\url \url}} 
      }
     }
    }
   }

   {\font \size=-1 Flag icons by {\externallink
				  \href=http://www.qnet.com/~moonbase/miniflag/
				  Moony's Miniflags}.}
}}