{\page 
  \pageid=screenshots
  \rcsid=\"$Id$\"
{
  {\h2 screenshots}

  {\def {\screenshot \filename \&rest} 
     {{\a \href={snaps/\filename} {\img \src={snaps/\filename} \alt={\rest}}}}}

  {\screenshot snap01.png Editing a key}
  {\screenshot generate01.png Generating a new password}
  {\screenshot list_categories.png List of passwords and categories}
  {\screenshot exported01.png Key exported to the memo pad}
}
}