A:link { color: red; font-weight: bold }
A { text-decoration: none; font-weight: bold }
A:hover { text-decoration: underline }
A:vlink { text-decoration: none }
A:alink { color: red; text-decoration: underline }
BODY { font-size: 11pt; 
       font-family: verdana, arial, helvetica, sans-serif; 
       background: black; 
       color: #dddddd}
STRONG { font-weight: bold; 
	 font-size: 12pt; 
	 font-family: verdana, arial, helvetica, sans-serif;	 }

.highlite { color: #000000;
	    background: #c0c0c0 }